In [0]:
%sql
-- Creating Students Table
CREATE TABLE Students (
    student_id INT ,
    name VARCHAR(50),
    department VARCHAR(10)
);

In [0]:
%sql
-- Creating Subjects Table
CREATE TABLE Subjects (
    subject_id INT,
    subject_name VARCHAR(50)
);

In [0]:
%sql
-- Creat Marks Table
CREATE TABLE Marks (
    student_id INT,
    subject_id INT,
    marks INT
);

In [0]:
%sql
-- Inserting  realistic data into Students
INSERT INTO Students (student_id, name, department) VALUES
(1, 'Aarav', 'ECE'),
(2, 'Anaya', 'ME'),
(3, 'Rohan', 'PSE'),
(4, 'Isha', 'CIV'),
(5, 'Vihaan', 'ECE'),
(6, 'Meera', 'CSE'),
(7, 'Aryan', 'CSE'),
(8, 'Diya', 'ME'),
(9, 'Aditya', 'CIV'),
(10, 'Kavya', 'ME'),
(11, 'Riya', 'PSE'),
(12, 'Arjun', 'CSE'),
(13, 'Sneha', 'CIV'),
(14, 'Rahul', 'ECE'),
(15, 'Pooja', 'ME'),
(16, 'Nikhil', 'CSE'),
(17, 'Tanya', 'ME'),
(18, 'Dev', 'PSE'),
(19, 'Aisha', 'CIV'),
(20, 'Kiran', 'CSE'),
(21, 'Neha', 'ME'),
(22, 'Aman', 'ME'),
(23, 'Priya', 'PSE'),
(24, 'Varun', 'PSE'),
(25, 'Shreya', 'ME'),
(26, 'Manav', 'ECE'),
(27, 'Sakshi', 'PSE'),
(28, 'Siddharth', 'CSE'),
(29, 'Sanjana', 'CIV'),
(30, 'Harsh', 'PSE');

num_affected_rows,num_inserted_rows
30,30

In [0]:
%sql
-- Inserting data into Subjects
INSERT INTO Subjects (subject_id, subject_name) VALUES
(1, 'Maths'),
(2, 'Physics'),
(3, 'Chemistry'),
(4, 'Biology'),
(5, 'English');

num_affected_rows,num_inserted_rows
5,5

In [0]:
%sql
-- Inserting data into Marks
INSERT INTO Marks (student_id, subject_id, marks) VALUES
(1, 1, 32), (1, 2, 44), (1, 3, 50), (1, 4, 50), (1, 5, 86),
(2, 1, 86), (2, 2, 82), (2, 3, 72), (2, 4, 72), (2, 5, 82),
(3, 1, 98), (3, 2, 85), (3, 3, 77), (3, 4, 66), (3, 5, 78),
(4, 1, 68), (4, 2, 57), (4, 3, 93), (4, 4, 83), (4, 5, 67),
(5, 1, 38), (5, 2, 69), (5, 3, 87), (5, 4, 59), (5, 5, 41),
(6, 1, 91), (6, 2, 61), (6, 3, 97), (6, 4, 95), (6, 5, 30),
(7, 1, 41), (7, 2, 66), (7, 3, 54), (7, 4, 32), (7, 5, 71),
(8, 1, 64), (8, 2, 56), (8, 3, 84), (8, 4, 93), (8, 5, 82),
(9, 1, 51), (9, 2, 69), (9, 3, 83), (9, 4, 55), (9, 5, 44),
(10, 1, 63), (10, 2, 97), (10, 3, 41), (10, 4, 84), (10, 5, 54),
(11, 1, 47), (11, 2, 43), (11, 3, 41), (11, 4, 45), (11, 5, 39),
(12, 1, 96), (12, 2, 64), (12, 3, 72), (12, 4, 35), (12, 5, 68),
(13, 1, 86), (13, 2, 93), (13, 3, 100), (13, 4, 99), (13, 5, 83),
(14, 1, 95), (14, 2, 70), (14, 3, 30), (14, 4, 44), (14, 5, 61),
(15, 1, 46), (15, 2, 44), (15, 3, 40), (15, 4, 88), (15, 5, 78),
(16, 1, 31), (16, 2, 76), (16, 3, 47), (16, 4, 50), (16, 5, 73),
(17, 1, 71), (17, 2, 74), (17, 3, 69), (17, 4, 66), (17, 5, 42),
(18, 1, 55), (18, 2, 72), (18, 3, 80), (18, 4, 61), (18, 5, 37),
(19, 1, 92), (19, 2, 93), (19, 3, 94), (19, 4, 80), (19, 5, 92),
(20, 1, 69), (20, 2, 95), (20, 3, 62), (20, 4, 44), (20, 5, 31),
(21, 1, 87), (21, 2, 51), (21, 3, 33), (21, 4, 88), (21, 5, 55),
(22, 1, 66), (22, 2, 35), (22, 3, 77), (22, 4, 76), (22, 5, 45),
(23, 1, 79), (23, 2, 88), (23, 3, 85), (23, 4, 67), (23, 5, 64),
(24, 1, 92), (24, 2, 40), (24, 3, 68), (24, 4, 92), (24, 5, 79),
(25, 1, 97), (25, 2, 75), (25, 3, 96), (25, 4, 85), (25, 5, 62),
(26, 1, 89), (26, 2, 78), (26, 3, 93), (26, 4, 73), (26, 5, 50),
(27, 1, 76), (27, 2, 88), (27, 3, 69), (27, 4, 71), (27, 5, 90),
(28, 1, 60), (28, 2, 94), (28, 3, 91), (28, 4, 58), (28, 5, 66),
(29, 1, 93), (29, 2, 85), (29, 3, 65), (29, 4, 77), (29, 5, 88),
(30, 1, 75), (30, 2, 79), (30, 3, 88), (30, 4, 63), (30, 5, 47);

num_affected_rows,num_inserted_rows
150,150

In [0]:
%sql
--1. Display all students from the 'CSE' department.
select *
 from students 
 where department="CSE"

student_id,name,department
6,Meera,CSE
7,Aryan,CSE
12,Arjun,CSE
16,Nikhil,CSE
20,Kiran,CSE
28,Siddharth,CSE

In [0]:
%sql
--2. Find students who scored more than 80 in "Maths".
SELECT  M.student_id,S.name
FROM students as S join marks AS M ON s.student_id=M.student_id 
join subjects AS Sub ON M.subject_id=sub.subject_id
WHERE M.marks>80 AND sub.subject_name="Maths"

student_id,name
2,Anaya
3,Rohan
6,Meera
12,Arjun
13,Sneha
14,Rahul
19,Aisha
21,Neha
24,Varun
25,Shreya
26,Manav
29,Sanjana

In [0]:
%sql
--3. List students whose names contain "an".
select name,department,student_id
from students
where name LIKE "%an%"

name,department,student_id
Rohan,PSE,3
Vihaan,ECE,5
Aryan,CSE,7
Tanya,ME,17
Kiran,CSE,20
Aman,ME,22
Manav,ECE,26
Sanjana,CIV,29

In [0]:
%sql
--4. Count how many students are in each department.

select department,count(*) as count_per_department
from students
group by department
order by count_per_department desc

department,count_per_department
ME,8
PSE,7
CSE,6
CIV,5
ECE,4

In [0]:
%sql
--5. Show subjects where the average score > 70.

select sub.subject_name,avg(m.marks)
from subjects AS sub JOIN marks As M ON sub.subject_id=M.subject_id
group by sub.subject_name
having avg(m.marks)>70

subject_name,avg(m.marks)
Maths,71.13333333333334
Physics,70.76666666666667
Chemistry,71.26666666666667

In [0]:
%sql
--6. List students who failed in any subject (marks < 35).
SELECT  M.student_id,S.name,M.marks,sub.subject_name
FROM students as S join marks AS M ON s.student_id=M.student_id 
join subjects AS Sub ON M.subject_id=sub.subject_id
WHERE M.marks<35

student_id,name,marks,subject_name
1,Aarav,32,Maths
6,Meera,30,English
7,Aryan,32,Biology
14,Rahul,30,Chemistry
16,Nikhil,31,Maths
20,Kiran,31,English
21,Neha,33,Chemistry

In [0]:
%sql
--7. Sort students by their total marks in descending order.

select s.student_id,s.name,sum(m.marks) as total_marks
FROM students as S join marks AS M ON s.student_id=M.student_id 
join subjects AS Sub ON M.subject_id=sub.subject_id
group by s.student_id,s.name
order by total_marks desc

student_id,name,total_marks
13,Sneha,461
19,Aisha,451
25,Shreya,415
29,Sanjana,408
3,Rohan,404
27,Sakshi,394
2,Anaya,394
23,Priya,383
26,Manav,383
8,Diya,379
6,Meera,374
24,Varun,371
28,Siddharth,369
4,Isha,368
30,Harsh,352
10,Kavya,339
12,Arjun,335
17,Tanya,322
21,Neha,314
18,Dev,305
9,Aditya,302
20,Kiran,301
14,Rahul,300
22,Aman,299
15,Pooja,296
5,Vihaan,294
16,Nikhil,277
7,Aryan,264
1,Aarav,262
11,Riya,215

In [0]:
%sql
--8. Use a CTE to rank students based on total marks.

with total_marks AS(
  select s.student_id,s.name,sum(m.marks) as total_marks
FROM students as S join marks AS M ON s.student_id=M.student_id 
join subjects AS Sub ON M.subject_id=sub.subject_id
group by s.student_id,s.name
)


select name,student_id,total_marks,
dense_rank() over(order by total_marks desc)as rank_Holders
from total_marks

name,student_id,total_marks,rank_Holders
Sneha,13,461,1
Aisha,19,451,2
Shreya,25,415,3
Sanjana,29,408,4
Rohan,3,404,5
Sakshi,27,394,6
Anaya,2,394,6
Priya,23,383,7
Manav,26,383,7
Diya,8,379,8
Meera,6,374,9
Varun,24,371,10
Siddharth,28,369,11
Isha,4,368,12
Harsh,30,352,13
Kavya,10,339,14
Arjun,12,335,15
Tanya,17,322,16
Neha,21,314,17
Dev,18,305,18
Aditya,9,302,19
Kiran,20,301,20
Rahul,14,300,21
Aman,22,299,22
Pooja,15,296,23
Vihaan,5,294,24
Nikhil,16,277,25
Aryan,7,264,26
Aarav,1,262,27
Riya,11,215,28